@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;

}
.mainbar{
    display: flex;
    height: 100vh;
}
.navbar{
    display: flex;
    width: 402px;
    border-right: 1px solid black;
    /* background: yellow; */

}

.nav-items{
    display: grid;
    /* flex-direction: column; */

    position: relative;
    float: right;
    width: 275px;
    height: 524px;
    padding: 0 12px;
    /* background: yellow; */
  
}
.nav-e{
    display: flex;
    /* flex-direction: column; */
    position: relative;
    float: left;
    width: calc(402px - 275px);
    /* padding: 0 12px; */
    /* background: red; */
}
.logo-home{
    display: block;
    width: 50px;
    cursor: pointer;
    /* padding: 2px 0; */
}

.logo-home img:hover{
    background:rgba(29, 161, 242, 0.1);
    border-radius: 50%
}
.logo-home img{
    width: 50px;
    height: 50px;
    border: 1px solid white;
}
.category{
    /* width: 234.2px; */
    /* position: fixed; */
    /* font-family: 'Times New Roman', Times, serif; */
    display: flex;
    color: #0f141a;
    align-items: center;
    height: 40px;
    width: 234px;
    /* padding: 0 24px; */
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
   
}

.category img{
    height: 26px;
    margin-right: 20px;
}
.category:hover{
    background:rgba(29, 161, 242, 0.1) ;
    width: 150px;
    border-radius: 20px;
    
}
.active{
    /* background: #d0d0d0; */
    font-weight: 700;
}

.content{
    /* display: flex; */
    width: 589px;
}

.tweet {
    display: flex;
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 2px;
    padding: 10px 15px;
  }
  
  .tweet:hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
  }
  
  .tweet a {
    color: #1b94e0;
    text-decoration: none;
  }
  
  .tweet a:hover {
    text-decoration: underline;
  }
  
  .tweet__author-logo {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .tweet__header {
    display: flex;
  }
  
  .tweet__author-name {
    font-size: 15px;
    font-weight: 700;
    color: #14171a;
    margin-right: 5px;
  }
  
  .tweet__author-slug {
    color: #5b7083;
    font-size: 15px;
  }
  
  .tweet__publish-time {
    margin-left: 5px;
    color: #657786;
  }
  
  .tweet__image {
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
  }

  /* rightside layout */

  .trends-for-you {
    border-radius: 15px;
    background: #f5f8fa;
    margin-bottom: 15px;
  }
  
  .trends-for-you__block {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
  }
  
  .trends-for-you__block:last-child {
    border-bottom: none;
  }
  
  .trends-for-you__heading {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
  }
  
  .trends-for-you__meta-information {
    font-size: 13px;
    font-weight: 300;
    color: #657786;
  }
  
  .trends-for-you__trend-name {
    font-size: 15px;
    color: #14171a;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
  }
  .who-to-follow {
    background: #f5f8fa;
    border-radius: 15px;
  }
  
  
  .who-to-follow__block {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
  }
  
  .who-to-follow__block:last-child {
    border-bottom: none;
  }
  
  .who-to-follow__author-logo {
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-right: 10px;
  }
  
  .who-to-follow__author-slug {
    color: #657786;
    font-size: 15px;
  }
  
  .who-to-follow__author-name {
    font-size: 15px;
    font-weight: 700;
  }
  
  .who-to-follow__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .who-to-follow__heading {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
  }
  
  .who-to-follow__button {
    border: 1px solid #1da0f2;
    color: #1da0f2;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
    min-width: 67px;
    text-align: center;
  }
  
  .who-to-follow__button:hover {
    background: rgba(29, 161, 242, 0.1);
    cursor: pointer;
  }
  